/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
 @import url('https://fonts.googleapis.com/css2?family=Archivo');
 @tailwind base;
 @tailwind components;
 @tailwind utilities;

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #3fd7f9;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

body {
  @apply bg-neutral-900;
  font-family: 'Archivo', sans-serif;
  padding: 20px 20px 40px 20px;
}
h1, h2  {
  @apply mb-2;
}
h1 {
  @apply text-4xl;
  @apply mb-2;
  @apply font-extrabold;
}
h2 {
  @apply text-xl;
  @apply font-bold;
}
figure {
  @apply my-5;
  @apply flex;
  @apply flex-col;
  @apply items-center;
}
figcaption {
  @apply mt-2;
  @apply text-center
}

main {
  max-width: 768px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 180px -40px rgba(63, 215, 249, .8);
  overflow: hidden;
  color: rgb(239, 245, 249);
}

button {
  font-family: 'Archivo', sans-serif;
  font-size: 1rem;
}


section {
  padding: 2em 2em;
  border-bottom: 10px solid var(--qwik-dark-blue);
}

ul {
  list-style-type: square;
  margin: 5px 0 30px 0;
  padding-left: 25px;
}

li {
  padding: 8px 0;
}

li::marker {
  color: var(--qwik-light-blue);
}


footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a:hover {
  text-decoration: underline;
}
